body {
    margin: 0;
    background-color: #000000;
}

.navform{
      max-width:800px;
      background-color:#4f92ff;
      margin: 0 auto;
      margin-top:20px;
      margin-bottom:20px;
      padding:10px;
      font-family:sans-serif;
      border-radius: 20px;
    }
